{% extends "dashboard_base.html" %}
{% load i18n %}

{% block page_title %}
<h1 class="page-header">{% trans 'Members' %} <small>{% trans "Details of"%} {{object.person.name}} - <a href="{% url 'member_edit' object.id %}">{% trans 'edit' %}</a></small></h1>
{% endblock %}

{% block page_content %}

<div class="panel panel-default">
  <div class="panel-heading">{% trans 'Personal information' %}</div>
  <div class="panel-body">
      <div class="row">
          <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <img data-src="holder.js/100%x180" src="{{ object.person.photo }}" alt="...">
            </a>
          </div>
          <div class="col-xs-6 col-md-9">
              <h2>{{object.person.name}}</h2>
              {% trans 'CPF' %}:  <strong>{{object.person.cpf}}</strong><br />
              {% trans 'Born date' %}:  <strong>{{object.person.birthDt}}</strong><br />
              {% trans 'Gender' %}:  <strong>{{object.person.gender}}</strong>

          </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-md-12">
          </div>
      </div>




  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">{% trans 'Contact information' %}</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                {% trans 'Email' %}:  <strong>{{object.person.email}}</strong><br/>
                {% trans 'Address' %}:  <strong>{{object.person.address_line}}</strong><br/>
                {% trans 'Neighborhood' %}:  <strong>{{object.person.neighborhood}}</strong><br/>
                {% trans 'City' %}:  <strong>{{object.person.city}}</strong><br/>
                {% trans 'State' %}:  <strong>{{object.person.state}}</strong><br/>
                {% trans 'Phone' %} 1:  <strong>{{object.person.phone1}}</strong><br/>
                {% trans 'Phone' %} 2:  <strong>{{object.person.phone2}}</strong><br/>
            </div>
        </div>
    </div>
</div>


{% endblock %}